# /git/puppet.git/hooks/post-update
#
branch=`echo $1 | awk -F/ {'print $3'}`
#sudo -u puppet-sync ssh puppet /usr/local/bin/puppet-sync --branch \$branch -r ssh+git://git/puppet.git"
#
#exec git-update-server-info" >> /git/puppet.git/hooks/post-update
/usr/bin/ssh puppet-sync@example.com /usr/local/bin/puppet-sync --branch ${branch} -r ssh+git://gitosis@example.com/puppet.git

exit $?

